* text=auto
*.py text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.sh text eol=lf
*.bat text eol=crlf
*.js text eol=lf
*.yml text eol=lf
*.safetensors filter=lfs diff=lfs merge=lfs -text
*.pdiparams filter=lfs diff=lfs merge=lfs -text
